@media (max-width: 500px) {
    .start .logo{
        width: 150px;
    }
    .start input{
        width: 210px;
        height: 40px;
    }
    .start button{
        width: 210px;
        height: 50px;
        font-size: 15px;
        line-height: 15px;
    }

    .flashCard .miniLogo {
        width: 100px;
    }
    .flashCard .title {
        font-size: 20px;
        line-height: 20px;
    }
    .card{
        width: 80%;
        height: 80%;
    }
    .question{
        font-size: 20px;
        line-height: 20px;
    }

    .tryAgain {
        width: 210px;
        height: 50px;
        font-size: 15px;
        line-height: 15px;
    }
}